In [1]:
import pandas as pd

# Merging Tickers Into a Single CSV

In [13]:
rp_mapping = pd.read_csv('data/rp_full_ticker_mapping/rp_full_ticker_mapping.csv')
ticker_mapping = pd.read_csv('data/rp_full_ticker_mapping/full_ticker_mapping.csv')

rp_mapping

   RP_ENTITY_ID        security
0        D64C6D   NKE US Equity
1        1BC12C    GM US Equity
2        66E04A   HLT US Equity
3        A63820   CMG US Equity
4        0157B1  AMZN US Equity
5        A6213D     F US Equity
6        8C6C1B  ROST US Equity
7        40B903   TJX US Equity
8        C9B932   LVS US Equity
9        385DD4   MAR US Equity
10       954E30   MCD US Equity
11       D78CCD   VFC US Equity
12       DC2B00    DG US Equity
13       ACDF88    HD US Equity
14       751A74   RCL US Equity
15       972356  EBAY US Equity
16       ECF709   AZO US Equity
17       3CBA2A  SBUX US Equity
18       F6DCE4   TGT US Equity
19       B4C673   YUM US Equity
20       6E1E61  ORLY US Equity
21       76E80F   LOW US Equity
22       64CEBB  APTV US Equity
23       034B61  BKNG US Equity
24       067779   CCL US Equity

In [14]:
ticker_mapping

   ticker        security
0    AMZN  AMZN US Equity
1      HD    HD US Equity
2     NKE   NKE US Equity
3     MCD   MCD US Equity
4    SBUX  SBUX US Equity
5     LOW   LOW US Equity
6    BKNG  BKNG US Equity
7     TJX   TJX US Equity
8     TGT   TGT US Equity
9      GM    GM US Equity
10    LVS   LVS US Equity
11    MAR   MAR US Equity
12   ROST  ROST US Equity
13     DG    DG US Equity
14    VFC   VFC US Equity
15      F     F US Equity
16   ORLY  ORLY US Equity
17    CCL   CCL US Equity
18    HLT   HLT US Equity
19    YUM   YUM US Equity
20   EBAY  EBAY US Equity
21    AZO   AZO US Equity
22    RCL   RCL US Equity
23   APTV  APTV US Equity
24    CMG   CMG US Equity

In [15]:
result = pd.merge(rp_mapping, ticker_mapping, how="inner", on=["security", "security"])
result

   RP_ENTITY_ID        security ticker
0        D64C6D   NKE US Equity    NKE
1        1BC12C    GM US Equity     GM
2        66E04A   HLT US Equity    HLT
3        A63820   CMG US Equity    CMG
4        0157B1  AMZN US Equity   AMZN
5        A6213D     F US Equity      F
6        8C6C1B  ROST US Equity   ROST
7        40B903   TJX US Equity    TJX
8        C9B932   LVS US Equity    LVS
9        385DD4   MAR US Equity    MAR
10       954E30   MCD US Equity    MCD
11       D78CCD   VFC US Equity    VFC
12       DC2B00    DG US Equity     DG
13       ACDF88    HD US Equity     HD
14       751A74   RCL US Equity    RCL
15       972356  EBAY US Equity   EBAY
16       ECF709   AZO US Equity    AZO
17       3CBA2A  SBUX US Equity   SBUX
18       F6DCE4   TGT US Equity    TGT
19       B4C673   YUM US Equity    YUM
20       6E1E61  ORLY US Equity   ORLY
21       76E80F   LOW US Equity    LOW
22       64CEBB  APTV US Equity   APTV
23       034B61  BKNG US Equity   BKNG
24       067779   CCL US Equity    CCL

In [ ]:
result.to_csv('ticker_mappings.csv', index=False)

# News Cleaning

In [38]:
consumer_news = pd.read_csv('data/consumer_comp_news_sentiment.csv')

/Users/abhishekkumar/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Removing Empty Columns

In [39]:
empty_cols = []
for col in consumer_news.columns:
    if consumer_news[col].isnull().values.sum() > .25*len(consumer_news):
        print(col)
        empty_cols.append(col)

SUB_TYPE
PROPERTY
RP_POSITION_ID
POSITION_NAME
EVALUATION_METHOD
MATURITY
EARNINGS_TYPE
EVENT_START_DATE_UTC
EVENT_END_DATE_UTC
REPORTING_PERIOD
REPORTING_START_DATE_UTC
REPORTING_END_DATE_UTC
RELATED_ENTITY
RELATIONSHIP

In [40]:
nonempty_consumer_news = consumer_news.drop(empty_cols, axis=1)

In [27]:
empty_rows = []
num_cols = len(nonempty_consumer_news.columns)
for index in nonempty_consumer_news.index:
    if nonempty_consumer_news.loc[[index]].isnull().sum().sum():
        print(index)
    elif nonempty_consumer_news.loc[[index]].isna().sum().sum():
        print(index)

In [41]:
#Since nothing was printed above, we understand the data to have no NaN or null values
#Here is another check
nonempty_consumer_news.isna().sum().sum()

0

In [42]:
nonempty_consumer_news.isnull().sum().sum()

0

In [43]:
nonempty_consumer_news.to_csv('data/clean_consumer_comp_news_sentiment.csv')

# Evaluating Importance of Data

In [44]:
nonempty_consumer_news.columns

Index(['TIMESTAMP_UTC', 'TIMESTAMP_TZ', 'RP_STORY_ID', 'RP_ENTITY_ID',
       'ENTITY_TYPE', 'ENTITY_NAME', 'COUNTRY_CODE', 'RELEVANCE',
       'EVENT_SENTIMENT_SCORE', 'EVENT_RELEVANCE', 'EVENT_SIMILARITY_KEY',
       'EVENT_SIMILARITY_DAYS', 'TOPIC', 'GROUP', 'TYPE', 'FACT_LEVEL',
       'CATEGORY', 'EVENT_TEXT', 'NEWS_TYPE', 'RP_SOURCE_ID', 'SOURCE_NAME',
       'CSS', 'NIP', 'PEQ', 'BEE', 'BMQ', 'BAM', 'BCA', 'BER', 'ANL_CHG',
       'MCQ', 'RP_STORY_EVENT_INDEX', 'RP_STORY_EVENT_COUNT', 'PRODUCT_KEY',
       'PROVIDER_ID', 'PROVIDER_STORY_ID', 'HEADLINE'],
      dtype='object')

In [47]:
frequency = {}
for col in nonempty_consumer_news.columns:
    frequency[col] = len(set(nonempty_consumer_news[col]))
frequency

{'TIMESTAMP_UTC': 387733,
 'TIMESTAMP_TZ': 387733,
 'RP_STORY_ID': 398969,
 'RP_ENTITY_ID': 23,
 'ENTITY_NAME': 25,
 'COUNTRY_CODE': 3,
 'RELEVANCE': 11,
 'EVENT_SENTIMENT_SCORE': 167,
 'EVENT_RELEVANCE': 4,
 'EVENT_SIMILARITY_KEY': 89847,
 'EVENT_SIMILARITY_DAYS': 96317,
 'TOPIC': 4,
 'GROUP': 40,
 'TYPE': 231,
 'FACT_LEVEL': 3,
 'CATEGORY': 680,
 'EVENT_TEXT': 214472,
 'NEWS_TYPE': 10,
 'RP_SOURCE_ID': 3683,
 'SOURCE_NAME': 3731,
 'CSS': 30,
 'NIP': 92,
 'PEQ': 3,
 'BEE': 3,
 'BMQ': 3,
 'BAM': 3,
 'BCA': 3,
 'BER': 3,
 'ANL_CHG': 3,
 'MCQ': 3,
 'RP_STORY_EVENT_INDEX': 16,
 'RP_STORY_EVENT_COUNT': 118,
 'PROVIDER_ID': 8,
 'PROVIDER_STORY_ID': 398926,
 'HEADLINE': 249657}

In [48]:
nonempty_consumer_news = nonempty_consumer_news.drop([col for col in nonempty_consumer_news.columns if frequency[col] == 1], axis = 1)
nonempty_consumer_news

,TIMESTAMP_UTC,TIMESTAMP_TZ,RP_STORY_ID,RP_ENTITY_ID,ENTITY_NAME,COUNTRY_CODE,RELEVANCE,EVENT_SENTIMENT_SCORE,EVENT_RELEVANCE,EVENT_SIMILARITY_KEY,...,BAM,BCA,BER,ANL_CHG,MCQ,RP_STORY_EVENT_INDEX,RP_STORY_EVENT_COUNT,PROVIDER_ID,PROVIDER_STORY_ID,HEADLINE
0,2015-01-01 03:15:15.000,2015-01-01 03:15:15.000,ABCB53FEA98E3D719D7481701BC3B97D,D64C6D,NIKE Inc.,US,100,-0.48,100,30422C3CA37B25602C9790C8E2C07F21,...,0,0,0,0,0,1,3,MT,A904309,Chief Operating Officer SPRUNK ERIC D Files To...
1,2015-01-01 03:27:53.185,2015-01-01 03:27:53.185,D3034957AC25CADADE55EE5FDDE3EC62,D64C6D,NIKE Inc.,US,100,-0.48,100,30422C3CA37B25602C9790C8E2C07F21,...,0,0,0,0,0,1,3,DJ,DN20141231006783,"COO SPRUNK Registers 210,816 Of NIKE INC >NKE"
2,2015-01-01 10:04:12.750,2015-01-01 10:04:12.750,2E380A3F04F6C2BCC440E6F3F5201AAA,1BC12C,General Motors Co.,US,100,-0.52,100,3134282A4EAEA0DF5903C9661C23B66A,...,0,0,1,0,0,1,1,MRVR,10:20010783332,"General Motors' sales decline 36.56% at 3,619 ..."
3,2015-01-01 10:06:45.455,2015-01-01 10:06:45.455,DF8A66E540706B80BE8D3666A5EAB536,1BC12C,General Motors Co.,US,100,-0.45,100,10A643269FDFDA46F8721BEC6EE7584B,...,0,0,0,0,0,1,2,MRVR,10:20010794342,GM to take $800M charge in Q4
4,2015-01-01 10:52:47.021,2015-01-01 10:52:47.021,19FE7E9B7C7D2D1AB3DE4780D91D8C48,1BC12C,General Motors Co.,US,100,-0.52,100,3134282A4EAEA0DF5903C9661C23B66A,...,0,0,1,0,0,1,3,MRVR,10:20011014136,"GM India sales decline 36.56% at 3,619 units i..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405452,2020-12-31 23:26:02.695,2020-12-31 23:26:02.695,C5286C7F38BECA7872FECA9CF5FC3C3F,A6213D,Ford Motor Co.,US,100,0.36,100,E3E9A5C355917B870B1F0CAE0AF47E88,...,0,0,0,0,0,1,15,MRVR,10:43910546086,Ford's new COVID-19 ad urges football fans to ...
405453,2020-12-31 23:44:16.801,2020-12-31 23:44:16.801,4A17514C5B9104A0CA87BF02FEBD9078,751A74,Royal Caribbean Group Co.,LR,100,0.00,100,8334BA3B084DB626E57E3F73AB821D61,...,0,0,0,0,0,1,2,MRVR,10:43910645648,Royal Caribbean Finishes Key December Fundrais...
405454,2020-12-31 23:46:13.635,2020-12-31 23:46:13.635,11982EF8671F3E2C651B94E97FEF061A,A6213D,Ford Motor Co.,US,100,0.36,100,E3E9A5C355917B870B1F0CAE0AF47E88,...,0,0,0,0,0,1,15,MRVR,10:43910650519,Ford's new COVID-19 ad urges football fans to ...
405455,2020-12-31 23:46:49.155,2020-12-31 23:46:49.155,326EA6E73CB424EA40042A92C4D7F4D5,A6213D,Ford Motor Co.,US,100,0.36,100,E3E9A5C355917B870B1F0CAE0AF47E88,...,0,0,0,0,0,1,15,MRVR,10:43910651706,Ford's new COVID-19 ad urges football fans to ...
405456,2020-12-31 23:47:49.995,2020-12-31 23:47:49.995,FA5AB122C6DECD7F563FE519A96ABC5E,A6213D,Ford Motor Co.,US,100,0.36,100,E3E9A5C355917B870B1F0CAE0AF47E88,...,0,0,0,0,0,1,7,MRVR,10:43910654301,Ford's new COVID-19 ad urges football fans to ...

In [52]:
text = pd.DataFrame()
text['RP_STORY_ID'] = nonempty_consumer_news['RP_STORY_ID']
text['RP_SOURCE_ID'] = nonempty_consumer_news['RP_SOURCE_ID']
text['ENTITY_NAME'] = nonempty_consumer_news['ENTITY_NAME']
text['EVENT_SIMILARITY_KEY'] = nonempty_consumer_news['EVENT_SIMILARITY_KEY']
text['PROVIDER_ID'] = nonempty_consumer_news['PROVIDER_ID']
text['PROVIDER_STORY_ID'] = nonempty_consumer_news['PROVIDER_STORY_ID']
text['COUNTRY_CODE'] = nonempty_consumer_news['COUNTRY_CODE']
text['TOPIC'] = nonempty_consumer_news['TOPIC']
text['GROUP'] = nonempty_consumer_news['GROUP']
text['TYPE'] = nonempty_consumer_news['TYPE']
text['FACT_LEVEL'] = nonempty_consumer_news['FACT_LEVEL']
text['NEWS_TYPE'] = nonempty_consumer_news['NEWS_TYPE']
text['SOURCE_NAME'] = nonempty_consumer_news['SOURCE_NAME']
text['CATEGORY'] = nonempty_consumer_news['CATEGORY']
text['HEADLINE'] = nonempty_consumer_news['HEADLINE']
text['EVENT_TEXT'] = nonempty_consumer_news['EVENT_TEXT']
text

,RP_STORY_ID,RP_SOURCE_ID,ENTITY_NAME,EVENT_SIMILARITY_KEY,PROVIDER_ID,PROVIDER_STORY_ID,COUNTRY_CODE,TOPIC,GROUP,TYPE,FACT_LEVEL,NEWS_TYPE,SOURCE_NAME,CATEGORY,HEADLINE,EVENT_TEXT
0,ABCB53FEA98E3D719D7481701BC3B97D,9D69F1,NIKE Inc.,30422C3CA37B25602C9790C8E2C07F21,MT,A904309,US,business,insider-trading,sell-registration,fact,FULL-ARTICLE,MT Newswires,insider-sell-registration,Chief Operating Officer SPRUNK ERIC D Files To...,Chief Operating Officer SPRUNK ERIC D Files To...
1,D3034957AC25CADADE55EE5FDDE3EC62,B5569E,NIKE Inc.,30422C3CA37B25602C9790C8E2C07F21,DJ,DN20141231006783,US,business,insider-trading,sell-registration,fact,RNS-SEC144,Dow Jones Newswires,insider-sell-registration,"COO SPRUNK Registers 210,816 Of NIKE INC >NKE","Coo SPRUNK Registers 210,816 Of NIKE INC >NKE"
2,2E380A3F04F6C2BCC440E6F3F5201AAA,651C76,General Motors Co.,3134282A4EAEA0DF5903C9661C23B66A,MRVR,10:20010783332,US,business,revenues,revenue,fact,FULL-ARTICLE,Hindu Business Line,revenue-down,"General Motors' sales decline 36.56% at 3,619 ...",General Motors' sales decline 36.56%
3,DF8A66E540706B80BE8D3666A5EAB536,B61D8F,General Motors Co.,10A643269FDFDA46F8721BEC6EE7584B,MRVR,10:20010794342,US,business,equity-actions,expenses,fact,FULL-ARTICLE,Seeking Alpha,expenses-charge,GM to take $800M charge in Q4,Gm to take $800M charge
4,19FE7E9B7C7D2D1AB3DE4780D91D8C48,E24111,General Motors Co.,3134282A4EAEA0DF5903C9661C23B66A,MRVR,10:20011014136,US,business,revenues,revenue,fact,FULL-ARTICLE,Livemint,revenue-down,"GM India sales decline 36.56% at 3,619 units i...",Gm India sales decline 36.56%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405452,C5286C7F38BECA7872FECA9CF5FC3C3F,4E80B5,Ford Motor Co.,E3E9A5C355917B870B1F0CAE0AF47E88,MRVR,10:43910546086,US,business,marketing,campaign-ad,fact,FULL-ARTICLE,Finger Lakes Times,campaign-ad-release,Ford's new COVID-19 ad urges football fans to ...,Ford's new COVID-19 ad
405453,4A17514C5B9104A0CA87BF02FEBD9078,BFCD65,Royal Caribbean Group Co.,8334BA3B084DB626E57E3F73AB821D61,MRVR,10:43910645648,LR,business,equity-actions,fundraising,fact,FULL-ARTICLE,Cruise Industry News,fundraising,Royal Caribbean Finishes Key December Fundrais...,Royal Caribbean Finishes Key December Fundraising
405454,11982EF8671F3E2C651B94E97FEF061A,9690FC,Ford Motor Co.,E3E9A5C355917B870B1F0CAE0AF47E88,MRVR,10:43910650519,US,business,marketing,campaign-ad,fact,FULL-ARTICLE,Biloxi Sun Herald,campaign-ad-release,Ford's new COVID-19 ad urges football fans to ...,Ford's new COVID-19 ad
405455,326EA6E73CB424EA40042A92C4D7F4D5,7018D1,Ford Motor Co.,E3E9A5C355917B870B1F0CAE0AF47E88,MRVR,10:43910651706,US,business,marketing,campaign-ad,fact,FULL-ARTICLE,Charlotte Observer,campaign-ad-release,Ford's new COVID-19 ad urges football fans to ...,Ford's new COVID-19 ad
405456,FA5AB122C6DECD7F563FE519A96ABC5E,74AC3D,Ford Motor Co.,E3E9A5C355917B870B1F0CAE0AF47E88,MRVR,10:43910654301,US,business,marketing,campaign-ad,fact,FULL-ARTICLE,ArcaMax,campaign-ad-release,Ford's new COVID-19 ad urges football fans to ...,Ford's new COVID-19 ad

In [53]:
nonempty_consumer_news_data = nonempty_consumer_news.drop(text.columns, axis=1)
nonempty_consumer_news_data

,TIMESTAMP_UTC,TIMESTAMP_TZ,RP_ENTITY_ID,RELEVANCE,EVENT_SENTIMENT_SCORE,EVENT_RELEVANCE,EVENT_SIMILARITY_DAYS,CSS,NIP,PEQ,BEE,BMQ,BAM,BCA,BER,ANL_CHG,MCQ,RP_STORY_EVENT_INDEX,RP_STORY_EVENT_COUNT
0,2015-01-01 03:15:15.000,2015-01-01 03:15:15.000,D64C6D,100,-0.48,100,91.03477,0.00,-0.20,0,0,0,0,0,0,0,0,1,3
1,2015-01-01 03:27:53.185,2015-01-01 03:27:53.185,D64C6D,100,-0.48,100,0.00877,0.00,-0.10,0,0,0,0,0,0,0,0,1,3
2,2015-01-01 10:04:12.750,2015-01-01 10:04:12.750,1BC12C,100,-0.52,100,2.84221,-0.08,-0.12,-1,0,0,0,0,1,0,0,1,1
3,2015-01-01 10:06:45.455,2015-01-01 10:06:45.455,1BC12C,100,-0.45,100,0.48131,0.00,-0.28,0,0,0,0,0,0,0,0,1,2
4,2015-01-01 10:52:47.021,2015-01-01 10:52:47.021,1BC12C,100,-0.52,100,0.03374,-0.08,-0.40,-1,0,0,0,0,1,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405452,2020-12-31 23:26:02.695,2020-12-31 23:26:02.695,A6213D,100,0.36,100,0.00892,0.00,-0.26,0,0,0,0,0,0,0,0,1,15
405453,2020-12-31 23:44:16.801,2020-12-31 23:44:16.801,751A74,100,0.00,100,20.70227,0.00,-0.14,0,0,0,0,0,0,0,0,1,2
405454,2020-12-31 23:46:13.635,2020-12-31 23:46:13.635,A6213D,100,0.36,100,0.01402,0.00,-0.26,0,0,0,0,0,0,0,0,1,15
405455,2020-12-31 23:46:49.155,2020-12-31 23:46:49.155,A6213D,100,0.36,100,0.00041,0.00,-0.26,0,0,0,0,0,0,0,0,1,15
405456,2020-12-31 23:47:49.995,2020-12-31 23:47:49.995,A6213D,100,0.36,100,0.00070,0.00,-0.26,0,0,0,0,0,0,0,0,1,7

In [55]:
text['TIMESTAMP_UTC'] = nonempty_consumer_news_data['TIMESTAMP_UTC']
text.to_csv('data/news_text.csv', index=False)
nonempty_consumer_news_data.to_csv('data/nonempty_consumer_news_data.csv', index=False)

# Feature Engineering News

In [60]:
import feature_engineering

In [65]:
data_to_normalize = ['RELEVANCE', 'EVENT_SENTIMENT_SCORE', 'EVENT_RELEVANCE', 'EVENT_SIMILARITY_DAYS']
for index in data_to_normalize:
    nonempty_consumer_news_data['NORMAL_' + index] = feature_engineering.data_normalization(nonempty_consumer_news_data, index)

In [63]:
text_to_encode = ['TOPIC', 'GROUP', 'TYPE', 'FACT_LEVEL', 'NEWS_TYPE', 'CATEGORY']
for index in text_to_encode:
    nonempty_consumer_news_data['ENCODED_' + index] = feature_engineering.text_to_one_hot(text, index)

In [66]:
nonempty_consumer_news_data

,TIMESTAMP_UTC,TIMESTAMP_TZ,RP_ENTITY_ID,RELEVANCE,EVENT_SENTIMENT_SCORE,EVENT_RELEVANCE,EVENT_SIMILARITY_DAYS,CSS,NIP,PEQ,...,NORMAL_RELEVANCE,NORMAL_EVENT_SENTIMENT_SCORE,NORMAL_EVENT_RELEVANCE,NORMAL_EVENT_SIMILARITY_DAYS,ENCODED_TOPIC,ENCODED_GROUP,ENCODED_TYPE,ENCODED_FACT_LEVEL,ENCODED_NEWS_TYPE,ENCODED_CATEGORY
0,2015-01-01 03:15:15.000,2015-01-01 03:15:15.000,D64C6D,100,-0.48,100,91.03477,0.00,-0.20,0,...,0.041101,-1.258938,0.15047,0.042436,0,8,-9,1,-3,114
1,2015-01-01 03:27:53.185,2015-01-01 03:27:53.185,D64C6D,100,-0.48,100,0.00877,0.00,-0.10,0,...,0.041101,-1.258938,0.15047,-0.567273,0,8,-9,1,3,114
2,2015-01-01 10:04:12.750,2015-01-01 10:04:12.750,1BC12C,100,-0.52,100,2.84221,-0.08,-0.12,-1,...,0.041101,-1.344583,0.15047,-0.548294,0,-15,-47,1,-3,-8
3,2015-01-01 10:06:45.455,2015-01-01 10:06:45.455,1BC12C,100,-0.45,100,0.48131,0.00,-0.28,0,...,0.041101,-1.194704,0.15047,-0.564108,0,-14,21,1,-3,230
4,2015-01-01 10:52:47.021,2015-01-01 10:52:47.021,1BC12C,100,-0.52,100,0.03374,-0.08,-0.40,-1,...,0.041101,-1.344583,0.15047,-0.567106,0,-15,-47,1,-3,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405452,2020-12-31 23:26:02.695,2020-12-31 23:26:02.695,A6213D,100,0.36,100,0.00892,0.00,-0.26,0,...,0.041101,0.539612,0.15047,-0.567272,0,9,105,1,-3,-202
405453,2020-12-31 23:44:16.801,2020-12-31 23:44:16.801,751A74,100,0.00,100,20.70227,0.00,-0.14,0,...,0.041101,-0.231195,0.15047,-0.428664,0,-14,94,1,-3,325
405454,2020-12-31 23:46:13.635,2020-12-31 23:46:13.635,A6213D,100,0.36,100,0.01402,0.00,-0.26,0,...,0.041101,0.539612,0.15047,-0.567238,0,9,105,1,-3,-202
405455,2020-12-31 23:46:49.155,2020-12-31 23:46:49.155,A6213D,100,0.36,100,0.00041,0.00,-0.26,0,...,0.041101,0.539612,0.15047,-0.567329,0,9,105,1,-3,-202
405456,2020-12-31 23:47:49.995,2020-12-31 23:47:49.995,A6213D,100,0.36,100,0.00070,0.00,-0.26,0,...,0.041101,0.539612,0.15047,-0.567327,0,9,105,1,-3,-202

In [68]:
nonempty_consumer_news_data.to_csv('data/news/nonempty_consumer_news_data.csv', index=False)

# Looking at X Df

In [69]:
x_df = pd.read_csv('data/x_df_comp_factors/x_df_comp_factors.csv')
x_df

,security,date,LTM_REVENUE,LTM_EPS,LTM_OPERATING_INCOME,LTM_OPERATING_MARGIN,EV,NTM_PE,NTM_REVENUE,NTM_EPS,...,TOTAL_DEBT_TO_EQUITY,LTM_TOTAL_DEBT_TO_EBITDA,LTM_ROE,TANGIBLE_BOOK_VALUE_PER_SHARE,LTM_CAPITAL_EXPENDITURES,NET_DEBT,NTM_REVENUE_GROWTH,LTM_EV_REVENUE,LTM_EV_EBIT,LTM_EBITDA_CAPEX_MARGIN
0,AMZN US Equity,2009-01-30,19166.0,1.4000,841.0,4.3880,18884.8,28.279,21978.50,2.080,...,9.4218,24.8503,0.5881,33.2903,5.2196,-333.0,NaN,0.146744,0.985328,22.455172
1,AMZN US Equity,2009-02-27,19166.0,1.4000,841.0,4.3880,18884.8,31.015,21991.50,2.089,...,10.3780,24.8503,0.5881,33.2903,5.2196,-333.0,24433.354411,0.147423,0.985328,22.455172
2,AMZN US Equity,2009-03-31,19920.0,1.4670,887.0,4.4528,28908.8,35.257,22048.70,2.083,...,10.7970,4.5579,0.1109,30.9025,5.7925,-327.0,23078.221332,0.106862,1.451245,32.591657
3,AMZN US Equity,2009-04-30,19920.0,1.4670,887.0,4.4528,28908.8,34.119,23223.10,2.360,...,11.8379,4.5579,0.1109,30.9025,5.7925,-327.0,20084.224761,0.165818,1.451245,32.591657
4,AMZN US Equity,2009-05-29,19920.0,1.4670,887.0,4.4528,28908.8,32.977,23253.70,2.365,...,11.4660,4.5579,0.1109,30.9025,5.7925,-327.0,19029.734418,0.167354,1.451245,32.591657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3535,YUM US Equity,2020-08-31,5494.0,2.9041,1576.0,28.6858,36602.9,27.130,5980.96,3.533,...,NaN,NaN,6.8299,NaN,-30.0797,-187.0,5228.130613,0.088635,6.662341,23.225190
3536,YUM US Equity,2020-09-30,5603.0,3.0134,1567.0,27.9672,37553.6,25.784,5986.56,3.541,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,5218.869719,0.068456,6.702409,23.965284
3537,YUM US Equity,2020-10-30,5603.0,3.0134,1567.0,27.9672,37553.6,24.548,6123.03,3.802,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,4877.029691,0.092813,6.702409,23.965284
3538,YUM US Equity,2020-11-30,5603.0,3.0073,1567.0,27.9672,37553.6,27.806,6118.36,3.805,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,5037.327901,0.091979,6.702409,23.965284
3539,YUM US Equity,2020-12-08,5603.0,3.0073,1567.0,27.9672,37553.6,27.635,6118.36,3.805,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,5174.595029,0.091979,6.702409,23.965284

# Merging X Df with Y Series

In [2]:
y_series = pd.read_csv('data/y_series/y_series_return.csv')
x_df = pd.read_csv('data/x_df_comp_factors/x_df_comp_factors.csv')

In [14]:
financials = pd.merge(y_series, x_df, how='left', left_on=['date','security'], right_on = ['date','security'])
financials

,security,date,MONTHLY_RETURN,MONTHLY_RETURN_F1,LTM_REVENUE,LTM_EPS,LTM_OPERATING_INCOME,LTM_OPERATING_MARGIN,EV,NTM_PE,...,TOTAL_DEBT_TO_EQUITY,LTM_TOTAL_DEBT_TO_EBITDA,LTM_ROE,TANGIBLE_BOOK_VALUE_PER_SHARE,LTM_CAPITAL_EXPENDITURES,NET_DEBT,NTM_REVENUE_GROWTH,LTM_EV_REVENUE,LTM_EV_EBIT,LTM_EBITDA_CAPEX_MARGIN
0,AMZN US Equity,2009-01-30,NaN,0.101496,19166.0,1.4000,841.0,4.3880,18884.8,28.279,...,9.4218,24.8503,0.5881,33.2903,5.2196,-333.0,NaN,0.146744,0.985328,22.455172
1,AMZN US Equity,2009-02-27,0.101496,0.133508,19166.0,1.4000,841.0,4.3880,18884.8,31.015,...,10.3780,24.8503,0.5881,33.2903,5.2196,-333.0,24433.354411,0.147423,0.985328,22.455172
2,AMZN US Equity,2009-03-31,0.133508,0.096405,19920.0,1.4670,887.0,4.4528,28908.8,35.257,...,10.7970,4.5579,0.1109,30.9025,5.7925,-327.0,23078.221332,0.106862,1.451245,32.591657
3,AMZN US Equity,2009-04-30,0.096405,-0.031421,19920.0,1.4670,887.0,4.4528,28908.8,34.119,...,11.8379,4.5579,0.1109,30.9025,5.7925,-327.0,20084.224761,0.165818,1.451245,32.591657
4,AMZN US Equity,2009-05-29,-0.031421,0.072702,19920.0,1.4670,887.0,4.4528,28908.8,32.977,...,11.4660,4.5579,0.1109,30.9025,5.7925,-327.0,19029.734418,0.167354,1.451245,32.591657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3535,YUM US Equity,2020-08-31,0.052718,-0.047470,5494.0,2.9041,1576.0,28.6858,36602.9,27.130,...,NaN,NaN,6.8299,NaN,-30.0797,-187.0,5228.130613,0.088635,6.662341,23.225190
3536,YUM US Equity,2020-09-30,-0.047470,0.022234,5603.0,3.0134,1567.0,27.9672,37553.6,25.784,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,5218.869719,0.068456,6.702409,23.965284
3537,YUM US Equity,2020-10-30,0.022234,0.133612,5603.0,3.0134,1567.0,27.9672,37553.6,24.548,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,4877.029691,0.092813,6.702409,23.965284
3538,YUM US Equity,2020-11-30,0.133612,-0.006144,5603.0,3.0073,1567.0,27.9672,37553.6,27.806,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,5037.327901,0.091979,6.702409,23.965284
3539,YUM US Equity,2020-12-08,-0.006144,NaN,5603.0,3.0073,1567.0,27.9672,37553.6,27.635,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,5174.595029,0.091979,6.702409,23.965284

In [15]:
financials.to_csv('data/financials.csv', index=False)

# Combining News Articles by Month

In [3]:
nonempty_consumer_news_data = pd.read_csv('data/news/nonempty_consumer_news_data.csv')

In [15]:
import datetime as dt
nonempty_consumer_news_data['date'] = [dt.datetime.strptime(time, '%Y-%m-%d %H:%M:%S.%f') for time in nonempty_consumer_news_data['TIMESTAMP_UTC']]
nonempty_consumer_news_data['date']

0        2015-01-01 03:15:15.000
1        2015-01-01 03:27:53.185
2        2015-01-01 10:04:12.750
3        2015-01-01 10:06:45.455
4        2015-01-01 10:52:47.021
                   ...
405452   2020-12-31 23:26:02.695
405453   2020-12-31 23:44:16.801
405454   2020-12-31 23:46:13.635
405455   2020-12-31 23:46:49.155
405456   2020-12-31 23:47:49.995
Name: date, Length: 405457, dtype: datetime64[ns]

In [47]:
grouped_news = nonempty_consumer_news_data.groupby([pd.Grouper(key='date',freq='M'), 'RP_ENTITY_ID']).mean().reset_index()
grouped_news.head()

,date,RP_ENTITY_ID,RELEVANCE,EVENT_SENTIMENT_SCORE,EVENT_RELEVANCE,EVENT_SIMILARITY_DAYS,CSS,NIP,PEQ,BEE,...,NORMAL_RELEVANCE,NORMAL_EVENT_SENTIMENT_SCORE,NORMAL_EVENT_RELEVANCE,NORMAL_EVENT_SIMILARITY_DAYS,ENCODED_TOPIC,ENCODED_GROUP,ENCODED_TYPE,ENCODED_FACT_LEVEL,ENCODED_NEWS_TYPE,ENCODED_CATEGORY
0,2015-01-31,0157B1,100.0,0.245102,99.945430,86.462239,0.018281,-0.050396,0.210095,0.195089,...,0.041101,0.293601,0.113337,0.011808,-0.042292,2.152797,13.916780,0.926330,-1.791269,19.796726
1,2015-01-31,067779,100.0,0.243837,100.000000,66.231808,0.005581,-0.261395,0.058140,0.116279,...,0.041101,0.290893,0.150470,-0.123699,-0.011628,7.965116,23.488372,0.976744,-1.453488,27.453488
2,2015-01-31,1BC12C,100.0,0.153545,99.845201,44.129978,0.024675,-0.146749,0.142415,0.190402,...,0.041101,0.097565,0.045136,-0.271741,-0.001548,6.643963,28.329721,0.815789,-2.078947,-27.871517
3,2015-01-31,385DD4,100.0,0.278900,100.000000,32.057547,0.028000,-0.258600,0.130000,0.070000,...,0.041101,0.365967,0.150470,-0.352604,-0.010000,0.350000,-28.240000,1.000000,-1.120000,43.200000
4,2015-01-31,3CBA2A,100.0,0.319741,99.611231,88.474904,0.050151,0.030367,0.410367,0.244060,...,0.041101,0.453412,-0.114071,0.025290,-0.002160,-2.717063,49.600432,0.879050,-0.390929,-53.244060

In [34]:
ticker_mappings = pd.read_csv('data/rp_full_ticker_mapping/ticker_mappings.csv')
ticker_mappings.head()

  RP_ENTITY_ID        security ticker
0       D64C6D   NKE US Equity    NKE
1       1BC12C    GM US Equity     GM
2       66E04A   HLT US Equity    HLT
3       A63820   CMG US Equity    CMG
4       0157B1  AMZN US Equity   AMZN

In [40]:
ticker_mappings.loc[ticker_mappings['security'] == 'NKE US Equity']['RP_ENTITY_ID'][0]

'D64C6D'

In [59]:
grouped_news['security'] = [list(ticker_mappings.loc[ticker_mappings['RP_ENTITY_ID'] == grouped_news['RP_ENTITY_ID'][i]]['security'])[0] for i in range(len(grouped_news['RP_ENTITY_ID']))]

In [70]:
grouped_news

,date,RP_ENTITY_ID,RELEVANCE,EVENT_SENTIMENT_SCORE,EVENT_RELEVANCE,EVENT_SIMILARITY_DAYS,CSS,NIP,PEQ,BEE,...,NORMAL_EVENT_RELEVANCE,NORMAL_EVENT_SIMILARITY_DAYS,ENCODED_TOPIC,ENCODED_GROUP,ENCODED_TYPE,ENCODED_FACT_LEVEL,ENCODED_NEWS_TYPE,ENCODED_CATEGORY,security,month
0,2015-01-31,0157B1,100.000000,0.245102,99.945430,86.462239,0.018281,-0.050396,0.210095,0.195089,...,0.113337,0.011808,-0.042292,2.152797,13.916780,0.926330,-1.791269,19.796726,AMZN US Equity,2015-1
1,2015-01-31,067779,100.000000,0.243837,100.000000,66.231808,0.005581,-0.261395,0.058140,0.116279,...,0.150470,-0.123699,-0.011628,7.965116,23.488372,0.976744,-1.453488,27.453488,CCL US Equity,2015-1
2,2015-01-31,1BC12C,100.000000,0.153545,99.845201,44.129978,0.024675,-0.146749,0.142415,0.190402,...,0.045136,-0.271741,-0.001548,6.643963,28.329721,0.815789,-2.078947,-27.871517,GM US Equity,2015-1
3,2015-01-31,385DD4,100.000000,0.278900,100.000000,32.057547,0.028000,-0.258600,0.130000,0.070000,...,0.150470,-0.352604,-0.010000,0.350000,-28.240000,1.000000,-1.120000,43.200000,MAR US Equity,2015-1
4,2015-01-31,3CBA2A,100.000000,0.319741,99.611231,88.474904,0.050151,0.030367,0.410367,0.244060,...,-0.114071,0.025290,-0.002160,-2.717063,49.600432,0.879050,-0.390929,-53.244060,SBUX US Equity,2015-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,2020-12-31,D64C6D,100.000000,0.375718,99.610706,109.585194,0.053577,-0.027445,0.345499,0.316302,...,-0.114428,0.166690,-0.002433,-3.447689,18.496350,0.810219,-1.944039,62.245742,NKE US Equity,2020-12
1652,2020-12-31,D78CCD,100.000000,0.379444,100.000000,53.516704,0.008056,-0.344444,0.041667,-0.055556,...,0.150470,-0.208867,-0.013889,1.527778,-31.958333,0.916667,-1.791667,-22.013889,VFC US Equity,2020-12
1653,2020-12-31,DC2B00,100.000000,0.299072,99.948454,136.987620,0.038866,-0.006598,0.350515,0.154639,...,0.115395,0.350237,-0.097938,-3.469072,9.268041,0.855670,-1.015464,85.783505,DG US Equity,2020-12
1654,2020-12-31,ECF709,100.000000,0.323262,99.679144,186.088573,0.031230,-0.048984,0.262032,0.192513,...,-0.067858,0.679124,0.000000,-2.491979,32.122995,0.871658,-0.834225,8.989305,AZO US Equity,2020-12
1655,2020-12-31,F6DCE4,99.986301,0.386712,100.000000,80.285593,0.016438,-0.269863,0.136986,0.013699,...,0.150470,-0.029564,0.000000,1.027397,-11.534247,0.808219,-2.547945,74.479452,TGT US Equity,2020-12

In [82]:
financials = pd.read_csv('data/financials.csv')
financials

,security,date,MONTHLY_RETURN,MONTHLY_RETURN_F1,LTM_REVENUE,LTM_EPS,LTM_OPERATING_INCOME,LTM_OPERATING_MARGIN,EV,NTM_PE,...,TOTAL_DEBT_TO_EQUITY,LTM_TOTAL_DEBT_TO_EBITDA,LTM_ROE,TANGIBLE_BOOK_VALUE_PER_SHARE,LTM_CAPITAL_EXPENDITURES,NET_DEBT,NTM_REVENUE_GROWTH,LTM_EV_REVENUE,LTM_EV_EBIT,LTM_EBITDA_CAPEX_MARGIN
0,AMZN US Equity,2009-01-30,NaN,0.101496,19166.0,1.4000,841.0,4.3880,18884.8,28.279,...,9.4218,24.8503,0.5881,33.2903,5.2196,-333.0,NaN,0.146744,0.985328,22.455172
1,AMZN US Equity,2009-02-27,0.101496,0.133508,19166.0,1.4000,841.0,4.3880,18884.8,31.015,...,10.3780,24.8503,0.5881,33.2903,5.2196,-333.0,24433.354411,0.147423,0.985328,22.455172
2,AMZN US Equity,2009-03-31,0.133508,0.096405,19920.0,1.4670,887.0,4.4528,28908.8,35.257,...,10.7970,4.5579,0.1109,30.9025,5.7925,-327.0,23078.221332,0.106862,1.451245,32.591657
3,AMZN US Equity,2009-04-30,0.096405,-0.031421,19920.0,1.4670,887.0,4.4528,28908.8,34.119,...,11.8379,4.5579,0.1109,30.9025,5.7925,-327.0,20084.224761,0.165818,1.451245,32.591657
4,AMZN US Equity,2009-05-29,-0.031421,0.072702,19920.0,1.4670,887.0,4.4528,28908.8,32.977,...,11.4660,4.5579,0.1109,30.9025,5.7925,-327.0,19029.734418,0.167354,1.451245,32.591657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3535,YUM US Equity,2020-08-31,0.052718,-0.047470,5494.0,2.9041,1576.0,28.6858,36602.9,27.130,...,NaN,NaN,6.8299,NaN,-30.0797,-187.0,5228.130613,0.088635,6.662341,23.225190
3536,YUM US Equity,2020-09-30,-0.047470,0.022234,5603.0,3.0134,1567.0,27.9672,37553.6,25.784,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,5218.869719,0.068456,6.702409,23.965284
3537,YUM US Equity,2020-10-30,0.022234,0.133612,5603.0,3.0134,1567.0,27.9672,37553.6,24.548,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,4877.029691,0.092813,6.702409,23.965284
3538,YUM US Equity,2020-11-30,0.133612,-0.006144,5603.0,3.0073,1567.0,27.9672,37553.6,27.806,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,5037.327901,0.091979,6.702409,23.965284
3539,YUM US Equity,2020-12-08,-0.006144,NaN,5603.0,3.0073,1567.0,27.9672,37553.6,27.635,...,NaN,NaN,6.4595,NaN,-29.2980,-186.0,5174.595029,0.091979,6.702409,23.965284

In [83]:
def date_to_month(date):
    if type(date) == str:
        return '-'.join(date.split('-')[:2])
    return str(date.year) + '-' + str(date.month)
financials['month'] = [date_to_month(date) for date in financials['date']]
grouped_news['month'] = [date_to_month(date) for date in grouped_news['date']]

In [84]:
news_and_finance_data = pd.merge(financials, grouped_news, how='left', left_on=['month','security'], right_on = ['month','security'])
news_and_finance_data

,security,date_x,MONTHLY_RETURN,MONTHLY_RETURN_F1,LTM_REVENUE,LTM_EPS,LTM_OPERATING_INCOME,LTM_OPERATING_MARGIN,EV,NTM_PE,...,NORMAL_RELEVANCE,NORMAL_EVENT_SENTIMENT_SCORE,NORMAL_EVENT_RELEVANCE,NORMAL_EVENT_SIMILARITY_DAYS,ENCODED_TOPIC,ENCODED_GROUP,ENCODED_TYPE,ENCODED_FACT_LEVEL,ENCODED_NEWS_TYPE,ENCODED_CATEGORY
0,AMZN US Equity,2009-01-30,NaN,0.101496,19166.0,1.4000,841.0,4.3880,18884.8,28.279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AMZN US Equity,2009-02-27,0.101496,0.133508,19166.0,1.4000,841.0,4.3880,18884.8,31.015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AMZN US Equity,2009-03-31,0.133508,0.096405,19920.0,1.4670,887.0,4.4528,28908.8,35.257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AMZN US Equity,2009-04-30,0.096405,-0.031421,19920.0,1.4670,887.0,4.4528,28908.8,34.119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AMZN US Equity,2009-05-29,-0.031421,0.072702,19920.0,1.4670,887.0,4.4528,28908.8,32.977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3535,YUM US Equity,2020-08-31,0.052718,-0.047470,5494.0,2.9041,1576.0,28.6858,36602.9,27.130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3536,YUM US Equity,2020-09-30,-0.047470,0.022234,5603.0,3.0134,1567.0,27.9672,37553.6,25.784,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3537,YUM US Equity,2020-10-30,0.022234,0.133612,5603.0,3.0134,1567.0,27.9672,37553.6,24.548,...,0.041101,0.599548,0.150470,0.040807,-0.003650,-3.547445,9.529197,0.978102,-1.000000,-20.000000
3538,YUM US Equity,2020-11-30,0.133612,-0.006144,5603.0,3.0073,1567.0,27.9672,37553.6,27.806,...,0.041101,0.485420,-0.037242,-0.138776,-0.027586,10.993103,55.593103,0.931034,-2.386207,-9.041379
3539,YUM US Equity,2020-12-08,-0.006144,NaN,5603.0,3.0073,1567.0,27.9672,37553.6,27.635,...,0.041101,-0.931381,0.081271,-0.387497,-0.023729,-7.820339,33.718644,0.979661,-2.623729,-152.061017

In [85]:
news_and_finance_data.fillna(0)

,security,date_x,MONTHLY_RETURN,MONTHLY_RETURN_F1,LTM_REVENUE,LTM_EPS,LTM_OPERATING_INCOME,LTM_OPERATING_MARGIN,EV,NTM_PE,...,NORMAL_RELEVANCE,NORMAL_EVENT_SENTIMENT_SCORE,NORMAL_EVENT_RELEVANCE,NORMAL_EVENT_SIMILARITY_DAYS,ENCODED_TOPIC,ENCODED_GROUP,ENCODED_TYPE,ENCODED_FACT_LEVEL,ENCODED_NEWS_TYPE,ENCODED_CATEGORY
0,AMZN US Equity,2009-01-30,0.000000,0.101496,19166.0,1.4000,841.0,4.3880,18884.8,28.279,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,AMZN US Equity,2009-02-27,0.101496,0.133508,19166.0,1.4000,841.0,4.3880,18884.8,31.015,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,AMZN US Equity,2009-03-31,0.133508,0.096405,19920.0,1.4670,887.0,4.4528,28908.8,35.257,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,AMZN US Equity,2009-04-30,0.096405,-0.031421,19920.0,1.4670,887.0,4.4528,28908.8,34.119,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,AMZN US Equity,2009-05-29,-0.031421,0.072702,19920.0,1.4670,887.0,4.4528,28908.8,32.977,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3535,YUM US Equity,2020-08-31,0.052718,-0.047470,5494.0,2.9041,1576.0,28.6858,36602.9,27.130,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3536,YUM US Equity,2020-09-30,-0.047470,0.022234,5603.0,3.0134,1567.0,27.9672,37553.6,25.784,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3537,YUM US Equity,2020-10-30,0.022234,0.133612,5603.0,3.0134,1567.0,27.9672,37553.6,24.548,...,0.041101,0.599548,0.150470,0.040807,-0.003650,-3.547445,9.529197,0.978102,-1.000000,-20.000000
3538,YUM US Equity,2020-11-30,0.133612,-0.006144,5603.0,3.0073,1567.0,27.9672,37553.6,27.806,...,0.041101,0.485420,-0.037242,-0.138776,-0.027586,10.993103,55.593103,0.931034,-2.386207,-9.041379
3539,YUM US Equity,2020-12-08,-0.006144,0.000000,5603.0,3.0073,1567.0,27.9672,37553.6,27.635,...,0.041101,-0.931381,0.081271,-0.387497,-0.023729,-7.820339,33.718644,0.979661,-2.623729,-152.061017

In [87]:
grouped_news.to_csv('data/news/grouped_news.csv', index=False)
news_and_finance_data.to_csv('data/news_and_finance_date.csv', index=False)